<?xml version="1.0" encoding="utf-8"?>
<appConfigs>
  <app defaultProvider="SqlAppDataProvider" isOfficial="false">
    <modules>
    </modules>
    <providers>
      <add name="SqlAppDataProvider" type="Level3.App.SqlAppDataProvider, Level3.App" connectionStringName="SiteSqlServer" />
    </providers>
  </app>
  <common defaultProvider="SqlCommonDataProvider" host="https://secure.xaavan.com" hostStatic="https://secure.xaavan.com">
    <providers>
      <add name="SqlCommonDataProvider" type="Basic.Core.SqlCommonDataProvider, Basic.Core" connectionStringName="SiteSqlServer"/>
    </providers>
  </common>
  <user defaultProvider="SqlUserDataProvider" userPermissionType="Level3.App.AppUserPermission,Level3.App">
    <providers>
      <add name="SqlUserDataProvider" type="Basic.Core.SqlUserDataProvider, Basic.Core" connectionStringName="SiteSqlServer" />
    </providers>
    <modules>
      <add name="baseModule" type="Basic.Core.UserModule, Basic.Core"/>
      <add name="AppUserModule"  type="Level3.App.AppUserModule, Level3.App"/>
    </modules>
    <roles>     
        <role key="User" name="User" default="true" />
        <role key="Company Admin" name="Company Admin" />
        <role key="System Administrator" name="System Administrator" />
    </roles>
  </user>
  <language defaultLanguage="zh-CN" location="~/Languages/">
    <languages>
      <add language="zh-CN" name="简体中文"/>
      <add language="zh-TW" name="繁体中文"/>
      <add language="en-US" name="U.S. English"/>
    </languages>
  </language>
</appConfigs>



