<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>

  <add name="SiteSqlServer" connectionString="Data Source=d69b35e5-dde8-4a09-aceb-a1490106605b.sqlserver.sequelizer.com;Initial Catalog=dbd69b35e5dde84a09aceba1490106605b;Persist Security Info=True;User ID=taabpvtqqlkjhfeb;Password=5vDeRaSqueMbF5wBnC8XueQPU5UCaMfkotzjXoRVqRQEmRfSc5iWouQZMWrUnpqP;" providerName="System.Data.SqlClient" />
  <!--<add name="SiteSqlServer" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Level3_reduced;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient" />-->
  <!--<add name="SiteSqlServer" connectionString="Data Source=.;Initial Catalog=Level3_reduced;Persist Security Info=True;User ID=sa;Password=ABCabc01" providerName="System.Data.SqlClient" />-->
  <!--<add name="SiteSqlServer" connectionString="Data Source=.\SqlExpress;Initial Catalog=Level3;Persist Security Info=True;User ID=sa;Password=SysAdm1n" providerName="System.Data.SqlClient" />-->
</connectionStrings>