<?xml version="1.0"?>
<GeneralConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <TimezoneOffset>8</TimezoneOffset>
  <DateFormat>yyyy-MM-dd</DateFormat>
  <TimeFormat>HH:mm</TimeFormat>
  <DefaultTheme>default</DefaultTheme>
  <DefaultLanguage>zh-CN</DefaultLanguage>
  <SiteName>CMS</SiteName>
  <SiteUrl>http://localhost:10709</SiteUrl>
  <SiteKeywords>CMS</SiteKeywords>
  <SiteDescription>CMS </SiteDescription>
  <CompressOutput>false</CompressOutput>
  <AnonymousCookieName>CMSAnonymous</AnonymousCookieName>
  <RoleCookieName>CMSRoles</RoleCookieName>
  <CookieDomain />
  <AnonymousCookieExpiration>20</AnonymousCookieExpiration>
  <AnonymousUserOnlineTimeWindow>30</AnonymousUserOnlineTimeWindow>
  <PublicSiteKey>6fdc435f-0cc3-4f23-bdb3-ba8935824e1d</PublicSiteKey>
  <AccountActivation>Automatic</AccountActivation>
  <AllowDuplicateNickname>true</AllowDuplicateNickname>
  <EnableExceptionLog>true</EnableExceptionLog>
  <SmtpServer>localhost</SmtpServer>
  <SmtpServerUsingNtlm>false</SmtpServerUsingNtlm>
  <SmtpServerUserSsl>false</SmtpServerUserSsl>
  <SmtpServerUserName />
  <SmtpServerPassword />
  <SmtpServerRequiredLogin>false</SmtpServerRequiredLogin>
  <SmtpPortNumber />
  <EmailEncoding>utf-8</EmailEncoding>
  <EmailSubjectEncoding>utf-8</EmailSubjectEncoding>
  <EnableAntiSpamProtection>false</EnableAntiSpamProtection>
  <EmailThrottle>-1</EmailThrottle>
  <EnableEmail>true</EnableEmail>
  <AdminEmailAddress>notset@localhost.com</AdminEmailAddress>
  <CompanyName />
  <CompanyContactUs />
  <CompanyFaxNumber />
  <CompanyAddress />
</GeneralConfigInfo>